form-item-with-label(
    v-bind:label='label'
    v-bind:validation_errors='validation_errors'
)
    vue-select(
        data-width="100%"
        ref='inputElement'
        v-bind:name='name'
        v-bind:required='required'
        v-bind:options='options'
        v-bind:value.sync='value'
        v-bind:data_url='data_url'
        v-bind:data_infos='data_infos'
        v-on:update:value='(newValue) => { this.$emit("update:value", newValue) }'
        v-on:update:options='(newOptions) => { this.$emit("update:options", newValnewOptionsue) }'
        v-bind:class='invalidClass'
        v-bind:id='formItemId'
    )
