form-item-with-label(
    v-bind:label='label'
    v-bind:validation_errors='validation_errors'
)
    vue-select(
        data-width="100%"
        v-bind:name='name'
        v-bind:required='required'
        v-bind:options='options'
        v-bind:value.sync='currentValue'
        v-bind:class='invalidClass'
        v-bind:id='formItemId'
    )
