form-item-with-validation-errors(v-bind:validation_errors='validation_errors')
    input.form-check-input(
        v-bind:name='name'
        v-bind:placeholder='placeholder'
        v-bind:value='value'
        @change='changeValue'
        v-bind:required='required'
        type='checkbox'
        v-bind:class='invalidClass'
    )
