.card.border-left-primary.shadow.h-100.py-2
    .card-body
        .row.no-gutters.align-items-center
            .col.mr-2
                .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                    | {{ title }} 
                .h5.mb-0.font-weight-bold.text-gray-800 {{ content }}
            .col-auto
                i.text-gray-300(class='icon_class')
