.navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.menu-title {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .navbar-toggler {
        display: flex;
    }
}
