nav.navbar.navbar-expand-lg.fixed-top(ref='mainNav')
    .container
        a.navbar-brand(href='#page-top') {{ title }}
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav
                dynamic-component(
                    v-for='link in links' v-bind:key='link.content'
                    v-bind:component_infos='link'
                )
