form-item-with-validation-errors(v-bind:validation_errors='validation_errors')
    label(v-bind:for='formItemId') {{ label }}
    div
        i.fas.fa-solid.fa-caret-up
        i.fas.fa-solid.fa-caret-down
    slot
