.d-flex.justify-content-center.root(data-v-48aeef05='' data-v-213c5fc8='')
    #__BVID__36.carousel.slide(data-v-7ccaa0e3='' data-v-48aeef05='' role='region' aria-busy='false')
        #__BVID__36___BV_inner_.carousel-inner(data-v-7ccaa0e3='' role='list')
            #__BVID__39.carousel-item.carousel-item-next.active(data-v-407168a7='' role='listitem' data-v-7ccaa0e3='' aria-current='true' aria-posinset='1' aria-setsize='3')
                img.img-fluid.w-100.d-block(data-v-407168a7='' src='/assets/img/fruit_1.jpg')
                .carousel-caption(data-v-407168a7='')
            #__BVID__43.carousel-item(data-v-407168a7='' role='listitem' data-v-7ccaa0e3='' aria-current='false' aria-posinset='2' aria-setsize='3')
                img.img-fluid.w-100.d-block(data-v-407168a7='' src='/assets/img/fruit_2.jpg')
                .carousel-caption(data-v-407168a7='')
            #__BVID__47.carousel-item.carousel-item-prev(data-v-407168a7='' role='listitem' data-v-7ccaa0e3='' aria-current='false' aria-posinset='3' aria-setsize='3')
                img.img-fluid.w-100.d-block(data-v-407168a7='' src='/assets/img/fruit_3.jpg')
                .carousel-caption(data-v-407168a7='')
        a.carousel-control-prev(data-v-7ccaa0e3='' href='#' role='button' aria-controls='__BVID__36___BV_inner_')
            span.carousel-control-prev-icon(data-v-7ccaa0e3='' aria-hidden='true')
            span.sr-only(data-v-7ccaa0e3='') Previous slide
        a.carousel-control-next(data-v-7ccaa0e3='' href='#' role='button' aria-controls='__BVID__36___BV_inner_')
            span.carousel-control-next-icon(data-v-7ccaa0e3='' aria-hidden='true')
            span.sr-only(data-v-7ccaa0e3='') Next slide
        ol#__BVID__36___BV_indicators_.carousel-indicators(data-v-7ccaa0e3='' aria-hidden='false' aria-label='Select a slide to display' aria-owns='__BVID__36___BV_inner_')
            li#__BVID__36___BV_indicator_1_.active(data-v-7ccaa0e3='' role='button' tabindex='0' aria-current='true' aria-label='Goto slide 1' aria-controls='__BVID__36___BV_inner_' aria-describedby='__BVID__39')
            li#__BVID__36___BV_indicator_2_(data-v-7ccaa0e3='' role='button' tabindex='0' aria-current='false' aria-label='Goto slide 2' aria-controls='__BVID__36___BV_inner_' aria-describedby='__BVID__43')
            li#__BVID__36___BV_indicator_3_(data-v-7ccaa0e3='' role='button' tabindex='0' aria-current='false' aria-label='Goto slide 3' aria-controls='__BVID__36___BV_inner_' aria-describedby='__BVID__47')
