form-item-with-label(
    v-bind:label='label'
    v-bind:validation_errors='validation_errors'
)
    range-slider(
        ref='sli' 
        v-bind:min="min"
        v-bind:max="max"
        v-bind:ruler="false"
        v-bind:label="false"
        v-bind:minValue="from_value"
        v-bind:maxValue="to_value"
        @input="updateValues"
        style="border: none; color: black"
    )
