form-item-with-label(
    v-bind:label='label'
)
    bootstrap-number-input(
        v-bind:name='fromName'
        v-bind:label='from_label'
        v-bind:value='from_value'
        v-on:update:value='changeFromValue'
        v-bind:validation_errors='from_validation_errors'
    )
    bootstrap-number-input(
        v-bind:name='toName'
        v-bind:label='to_label'
        v-bind:value='to_value'
        v-on:update:value='changeToValue'
        v-bind:validation_errors='to_validation_errors'
    )
