.table-responsive
    table.table.table-bordered(width='100%' cellspacing='0')
        thead
            tr
                th(v-for='filterSection in filter_sections')
                    component(
                        v-if='filter_form_item_type_prefix'
                        v-bind:key='filterSection.name'
                        v-bind:ref='filterSection.name'
                        v-bind:is='filterSection.type'
                        v-bind='filterSection.data'
                        v-bind:value='filterSection.data.value'
                        v-bind:from_value='filterSection.data.from_value'
                        v-bind:to_value='filterSection.data.to_value'
                        v-on:update:value='(newValue) => { filterValueUpdated(filterSection, newValue) }'
                        v-on:update:from_value='(newValue) => { filterFromValueUpdated(filterSection, newValue) }'
                        v-on:update:to_value='(newValue) => { filterToValueUpdated(filterSection, newValue) }'
                    )
                th
        tbody
            tr(v-for='row in rows')
                td(v-for='column in row') {{ shortStringFromColumn(column, 30) }}
                td
                    .d-flex
                        edit-icon-link(
                            v-bind:url='editUrl(row.id)'
                        )
                        form(method='post' v-bind:action='deleteUrl(row.id)')
                            csrf-input
                            input(type="hidden" name="_method" value="DELETE")
                            delete-icon-link(
                                v-bind:is_submit_button='true'
                            )
        tfoot(v-if='with_footer')
            tr
                th(v-for='filterSection in filter_sections') {{ filterSection.data.label }}
                th
