form(
    v-bind:action='url'
    v-bind:method='method'
    v-on:submit='submitForm'
)
    csrf-input
    component(
        v-for='formItemSection in form_item_sections[this.currentPageNumber]'
        v-bind:key='formItemSection.data.name'
        v-bind:ref='formItemSection.data.name'
        v-bind:is='getConvertedType(formItemSection.type)'
        v-bind='formItemSection.data'
        v-bind:value='formItemSection.data.value'
        v-on:update:value='(newValue) => { formItemSection.data.value = newValue }'
    )
    .form-item(v-if='currentPageNumber > 0')
        button.btn.btn-primary.form-item-control.text-align-center(type='button' @click='back') {{ back_button_title }}
    .form-item(v-if='currentPageNumber < form_item_sections.length - 1')
        button.btn.btn-primary.form-item-control.text-align-center(type='button' @click='next') {{ next_button_title }}
    .form-item(v-if='currentPageNumber == form_item_sections.length - 1')
        button.btn.btn-primary.form-item-control.text-align-center(type='submit' @click='submitForm') {{ button_title }}
