form-item-with-validation-errors(v-bind:validation_errors='validation_errors')
    textarea.form-item-control(
        v-bind:name='name'
        v-bind:value='value'
        v-bind:required='required'
        v-bind:placeholder='placeholder'
        v-bind:minlength='minlength'
        v-bind:maxlength='maxlength'
        v-bind:class='invalidClass'
    )
