b-container.main-container(fluid)
    b-row
        b-col.column(v-for='contentItem in content_items')
            .content
                dynamic-component(v-bind:component_infos='contentItem.content_section')
            .background
                img.background-image(
                    v-bind:src='contentItem.background_image.src'
                    v-bind:alt='contentItem.background_image.alt'
                )
