VSelect(
    v-bind:name='name' 
    v-model='selectedOption'
    v-bind:searchable='live_search'
    v-bind:options.sync='options'
    v-bind:data_url='data_url'
    v-bind:data_infos='data_infos'
)
