footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-4.text-lg-start {{ copyright.company_name }}<br>{{ copyright.content }}
            .col-lg-4.my-3.my-lg-0
                dynamic-component(
                    v-bind:component_infos='icon_links_section'
                )
            .col-lg-4.text-lg-end
                dynamic-component(
                    v-for='footerLinkSection in footer_link_sections'
                    v-bind:component_infos='footerLinkSection'
                )